.container {
    display: grid;
    grid: auto-flow 2rem / repeat(3,3rem);
    align-items: center;
    justify-items: center;
}

.justRow {
    display: grid;
    grid: repeat(1,2rem) 2rem / autoflow 3rem;
    align-items: left;
    justify-items: left;
}