:root {
  --darkPrimary: #26A347;
  --primary: #6EFF94;
  --lightPrimary: #50F07B;
  --accent: #A31519;
  --lightAccent: #F04F54;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary);
  background: #303030;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 0 2rem;
  gap: 0.5rem;
}

/* generic styles */
button {
  color: black;
  font-size: large;
  background: var(--darkPrimary);
  border-radius: 5px;
  padding: 0.5rem;
  border-color: transparent;
}

button:hover {
  background: var(--lightPrimary);
  cursor: pointer;
}

label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 25px; /* 10 px padding right + 15px input type*/
  margin-right: 10px; /* margin between inputs types */
}

label:before {  
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;  
  left: 0;
}

ul {
  list-style: none;
}

input[type=checkbox]{
  display: none
}

label:before {
  background: url('../public/x-circle.svg') left center no-repeat;
  height: 32px;
  width: 32px;  
}

input[type=checkbox]:checked + label:before {  
  background: url('../public/flag.svg') left center no-repeat;
  height: 32px;
  width: 32px;  
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
