:root {
  --darkPrimary: #26A347;
  --primary: #6EFF94;
  --lightPrimary: #50F07B;
  --accent: #A31519;
  --lightAccent: #F04F54;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary);
  background: #303030;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 0 2rem;
  gap: 0.5rem;
}

/* generic styles */
button {
  color: black;
  font-size: large;
  background: var(--darkPrimary);
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.3rem;
  border-color: transparent;
  transition: all 0.25s;
}

button:hover {
  background: var(--lightPrimary);
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
